%button-transition{
    transition: background-color .5s ease-out;
    color:black;
    background-color:white;
}
@import "./responsive";

.header__nav {
    background-color: transparent;
        
    @include mobile{
        background-color: white;
    }

    @include tablet{
        background-color: white;
    }
}

.navBar {
    margin-left: 25%;
}

header{

    nav{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;

        .header{
            &__logo{
                margin-top:10px;
                margin-left: 50px;
                @include tablet{
                    display: flex;
                    justify-content:space-between;
                    margin-left: 0px;
                }
                @include mobile{
                                        display: flex;
                    justify-content:space-between;
                    margin-left: 0px;
                }

                &__search{
                    .buttonStyle{
                        border-radius: 50px;
                    }
                }
            }

            &__menu{
                width: 100%;
                @include tablet {
                    display: none;
                }
                
            }
            &_list_item{
                margin: 10px;
                a{
                    text-decoration: none;
                    color: black;
                }
                h2{
                    font-size: 15px;
                }
            }
        }
    }
} 