.gridProductos{
    display: grid;
    grid-template-areas: "prodHeader"
                        "prodImg"
                        "prodMain"
                        "prodFooter";
}

header{
    grid-area: prodHeader;
}

.prodMain{
    grid-area: prodImg;
}

.footerProd{
    grid-area: prodFooter;
}
.div{
    &__containerProductos{
        grid-area: prodMain;
    }
}

.main{
    &__img-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 100px;

    }
}

.div{
    &__containerProductos{
        display: flex;
        
        @include mobile{
            display: inline;
        }

        @include tablet {
            display: inline;
        }
    }
    &__containerFiltros{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        width: 100%;

        @include mobile{
            flex-direction: row;
            align-items: flex-start;
        }

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__containerDropdowns{
        margin: 1rem;
        width: 100%;
        
        @include mobile{
            margin: 0 1px;
            display: flex;
            align-items:center;
        }

        @include tablet {
            margin: 0 1px;
            display: flex;
            align-items:center;
        }
    }


    &__prodSearch{
        @include mobile{
            display: none;
        }

        @include tablet {
            padding:none;
        }
    }
        
        &__containerCardsProd{
            display: flex;
            margin-top:1rem;
            width: 100%;
            
            @include mobile{
                flex-direction: column;
                align-items: center;
            }
            
            @include tablet {
                align-items: center;
                justify-content: center;
            }
        }
}

