.gridProductos{
    display: grid;
    grid-template-areas: "prodHeader"
                        "prodImg"
                        "prodMain"
                        "prodFooter";
}

header{
    grid-area: prodHeader;
}

main{
    grid-area: prodImg;
}

.div{
    &__containerProductos{
        grid-area: prodMain;
    }
}

.main{
    &__containerImgProd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 00px;

    }

}
